*{
    margin: 0px;
    padding: 0px;
}


body{
    margin: 0;
    background-color: bisque;
}

.navbar{
    padding: 10px 20px;
    background-color: rgb(208, 208, 146)

}

.navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.navbar ul a:hover{

    color: #ff9900;
    border-bottom: 1px solid black;
}
.navbar ul li a {
    position: relative;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ff9900;
    transition: 0.3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}
